*{
    scroll-behavior: smooth;
}

#starter{
    background-image: url("./assets/home11.webp");
}

.mainlogo {
    content: url("./assets/shayarlogo.png");
}

#homsoc div:hover{
    transform: scale(1.1);
}

#applogo{
    height: 500px;
    width: 300px;
}

#quick a:hover{
    transform: scale(1.1);
}

#social a:hover{
    transform: scale(1.3);
}

#link a:hover{
    transform: scale(0.97);
}

#live {
    animation: live 1s ease infinite;
}

@keyframes live {
    from {
        color: rgb(128, 0, 255);
    }
    to {
        color: magenta;
    }
}

#subform {
    background-image: url("./assets/formlogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#submit:hover{
    transform: scale(1.05);
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(blue,magenta);
    border-radius: 25px; 
}


@tailwind base;
@tailwind components;
@tailwind utilities;

